@import '../../../bits/styles/styles';


.BottomBar {

  background-color: #383838;
  color: $modernGreenDarkMode;
  font-weight: 600;
  text-align: left;
  align-items: center;
  padding: 1rem;
  margin:0;
  padding-left: 0;
  padding-right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .above {

    font-size: 1em;
    font-weight: 400;
  }

  .under {
    margin-left: 1rem;
  }

  a {

    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5em;
  }


  a {
    margin-right: 1rem;
    text-align: center;
    $underlineColor: $modernGreenDarkMode;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border: solid 4px $modernGreenDarkMode;
    color: white;
    @include basicTransition();
    &:hover {
      background-color: $modernGreenDarkMode;
      outline: 0;
      @include basicTransition();
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:active,
    &:focus {
      outline: 0;
      -moz-outline-style: none;
    }

    @keyframes shadow-pulse2 {
      0% {
        box-shadow: 0 0 0 0px rgba($modernGreenDarkMode, 1);
      }
      100% {
        box-shadow: 0 0 0 8px rgba($modernGreenDarkMode, 0);
      }
    }

    animation: shadow-pulse2 1s infinite linear;
  }
}

