@import './../components/styles';


$darkColor: black;


.ResponsiveContainer {

display: flex;
justify-content: center;

.Inside {
  @include breakpoint(normal) {
    min-width: 50rem;
    max-width: 110rem;

  }
  @include breakpoint(small) {
    min-width: 90vw;
  }
}
}


.PerformanceMode {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: #383838;
  color: white;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  transition: none;
  .Logo {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: url("../res/tldp_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


  }

  a {
    align-self: center;
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    $underlineColor: $accentColor;
    text-decoration: none;
    border: none;
    background-color: rgba($accentColor, 0.7);
    border: solid 4px $accentColorIdle;
    color: white;
    @include basicTransition();
    &:hover {
      background-color: $accentColorIdle;
      outline: 0;
      @include basicTransition();
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:active, &:focus {
      outline: 0;
      -moz-outline-style: none;
    }


    @keyframes shadow-pulse
    {
      0% {
        box-shadow: 0 0 0 0px rgba($accentColorIdle, 1.0);
      }
      100% {
        box-shadow: 0 0 0 35px rgba($accentColorIdle, 0.0);
      }
    }

    animation: shadow-pulse 1s infinite linear;

  }


  button {
    align-self:center;
    border: none;
    background-color: transparent;

    @include themedTagA();
    color: rgb(220, 220, 220);
    font-size: 1.3em;
    margin-bottom: 1em;
  }

}

.ResponsiveIframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1; // useful to hide videos when overlaying all page
  iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 0;
  }
}

.ShowcasePage {


  .RollbackBackground {
    background-color: $accentLight;
  }

  .WelcomerCoverPhoto {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  .WelcomeCover {
    $height: 80vh;
    min-height: $height;
    line-height: 2;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    .Inside {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

      @include breakpoint(normal) {
        justify-content: center;
      }
      @include breakpoint(small) {
        justify-content: flex-start;
      }

      h2 {
        font-size: 4rem;
        font-weight: 900;
      }
      p {
        line-height: 1.3;
        font-size: 1.7em;
        max-width: 30em;
        margin: 0 auto;

        @include breakpoint(small) {
          font-size: 1.3em;
          margin-top: auto;
          padding-bottom: 3em;
          padding-top: 3em;
        }
      }
    }
  }

  .ShowcasePart {

    $almostBlack: #111111;
    display:flex;
    justify-content: space-between;
    align-items: stretch;

    @include breakpoint(normal) {
      flex-direction: row;
      padding-top: 4em;
      padding-bottom: 4em;
    }
    @include breakpoint(small) {
      flex-direction: column;
      padding: 0;
      padding-top: 4em;
      padding-bottom: 4em;
      align-items: center;
    }


    &.Column {
      flex-direction: column;
      align-items: center;
    }


    .Text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3em;

      @include breakpoint(small) {
        padding: 0.5em;
      }
      @include breakpoint(normal) {
        padding: 2em;
        max-width: 50em;
      }

      h2 {
        font-size: 2em;
        font-weight: 600;
        color: $accentColor;

      }

      p {
        line-height: 1.5;
      }

      &.Centered {
        text-align: center;
      }
    }

    .PhotogridContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @include breakpoint(normal) {
        max-width: 70rem;
      }

      .PaddingForNormalSize {
        @include breakpoint(normal) {
          padding: 2em;
        }
      }
    }

    .ImageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include breakpoint(normal) {
        min-width: 70%;
      }

      @include breakpoint(small) {
        min-width: 90%;
      }

      div {

      }

      img {
        width: 100%;
        height: auto;
      }
    }


  }

  .ClientsLogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 90vw;

    div {
      margin: 3em;
      @include breakpoint(small) {
        min-width: 12em;
        min-height: 7em;
      }
      @include breakpoint(normal) {
        min-width: 20em;
        min-height: 10em;
      }
    }

    @mixin imageBackground() {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .Superposition {
      background: url("gallery/clients/sup.jpg");
      @include imageBackground();
    }

    .Aadn {
      background: url("gallery/clients/aadn.svg");
      @include imageBackground();
    }

    .MaltingPot {
      background: url("gallery/clients/maltingpot.jpg");
      @include imageBackground();
    }

    .Chevagny {
      background: url("./2019-08-11-chevagny/cover.jpg");
      @include imageBackground();
    }


    .Bonifacio {
      background: url("gallery/clients/bonifacio.png");
      @include imageBackground();
    }

    .Pf {
      background: url("gallery/clients/pf.png");
      @include imageBackground();
    }
  }


}







.Punchline {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  @include notSelectable();
  padding: 0.5em;
  margin:auto;
  margin-bottom: 1em;
  margin-top: 1em;
  @include breakpoint(small) {
    font-size: 1.8em;
  }

  &.White {
    font-size: 2em;

    @include breakpoint(small) {
      font-size: 1.8em;
    }
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 2px black;
    color: black;
    margin:auto;
    margin-bottom: 0.5em;
  }

  &.Accent {
    background-color: #abcb89;
    border-radius: 5px;
    color: white;
  }
}

.Subtext {
  font-size: 1em;
  color: #404040;
  text-align: center;
}

.WordsCloud {
  $shadowColor: #799d59; // Darker green (more sat, less bright)
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  p {
    border-radius: 5px;
    font-size: 2em;
    margin: 1em;
    background-color: white;
    color: dimgray;
    font-weight: 900;
    padding: 0.5em;
    @include breakpoint(small) {
      font-size: 1em;
      margin: 0.5em;
    }

    @include notSelectable();

    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: black;
      box-shadow: 10px 10px $shadowColor;
      transform: translateY(-5px) translateX(-5px);
      @include breakpoint(small) {
        box-shadow: 4px 4px $shadowColor;
        transform: translateY(-2px) translateX(-2px);
      }



      transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
  }
}

.FlexboxBasicRow {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


.FullPageContainer {
  padding: 2em;
  @include breakpoint(small) {
    padding: 0.2em;
  }
  display: flex;
  flex-direction: column;
}


.Squares {
  display:flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;

  .Square {

    width: 20em;
    text-align: center;
    padding: 4em;

    @include breakpoint(small) {
      width: 90%;
      padding: 0.5em;
    }


    .Icon {
      $size: 2em;
      margin: auto;
      padding: 2em;
      width: $size;
      height: $size;
      border: 2px solid #404040;
      border-radius: 200px;
      font-size: calc(#{$size}/2);
      text-align: center;
      line-height: $size;
      margin-bottom: 1em;
      margin-top: 1em;

      .Phone {
        background: url("../res/baseline-touch_app-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .Replay {
        background: url("../res/baseline-replay-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .Send {
        background: url("../res/baseline-send-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .Drawings {
        background: url("../res/baseline-blur_on-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }


    .Title {
      font-size: 1.5em;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0.5em;
    }

    .SubText {
      font-size: 1em;
      color: #404040;
      margin: 0.3em;
    }

  }

}

.HighlightEvent {
  border: solid 10px $accentColor;
  min-height: 80vh;

  a {

  }
}


.MainTitle {
  color: white;
  font-size: 6em;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  margin: 0;
  background-color: transparent;

  &.Accent {
    //background-color: #d2ea9b;
    border: 7px solid #d2ea9b;
  }

  &.Second {
    // background-color: #abcb89;
    border: 7px solid #abcb89;
  }

  &.Third {
    // background-color: #83b271;
    border: 7px solid #83b271;
  }

}

.BackgroundWhite {
  background-color: white;
  color: black;

  .MainTitle {
    font-size: 3em;
    font-weight: 900;
  }
}

.Subtitle {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: white;
  //border: 3px solid dimgray;
  border-radius: 6px;
  padding: 0.5em;
  text-transform: uppercase;

}

.Quote {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: #404040;
  font-weight: 400;
  padding: 0.5em;
}

.ArrowDown {
  border: solid $darkColor;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.CircleNumber {
  $size: 50px;
  margin-left: 2em;
  margin-top: 2em;
  width: $size;
  height: $size;
  border: 2px solid black;
  border-radius: $size;
  font-size: calc(#{$size}/2);
  text-align: center;
  line-height: $size;
}

.moreProjects {
  font-size: 1.5rem;
  display: grid;
  justify-self: center;
  justify-items: center;


  a {
    text-align: center;
    margin: 1rem;
    margin-top: 4rem;
    @include themedTagA();
  }
}

.homePosts {

  margin-top: 4rem;

  .postGrid {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90rem;
    width: 100%;
    padding: 0;

  }

  .post {
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;



    @include breakpoint(small) {
      width: 95%;
      margin: 2%;
      margin-top: 1em;
      margin-bottom: 1em;
      &:hover {
        transform: none;
        cursor: pointer;
      }
    }

    @include breakpoint(normal) {
      margin: 1em;
      width: 40%;
      max-width: 35em;

      &:hover {
        border: none;
        transition: border 0.5s ease-out;
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    $backgroundText: black;
    $textColor: white;

    .postTitle {
      border-radius: 5px;
      font-size: 1.2em;
      color: $textColor;
      font-weight: 600;
      padding: 0.5em;
      background-color: $backgroundText;
      box-decoration-break: clone;
      margin-bottom: 0.3em;
    }

    .postDate {
      border-radius: 5px;
      font-size: 0.8em;
      color: $textColor;
      background-color: $backgroundText;
      box-decoration-break: clone;
      padding: 1em;
    }

    .postTag {
      border-radius: 5px;
      font-size: 0.8em;
      color: $textColor;
      font-weight: 600;
      background-color: $backgroundText;
      box-decoration-break: clone;
      padding: 0.5em;
      margin: 0.5em;
    }

    .insideArea {

      min-height: 10em;
      padding: 2em;
      padding-left: 1em;
      margin: 0;


      display: grid;
      align-content: flex-start;
      justify-content: flex-start;

      .textArea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        @include basicTransition(opacity);
        opacity: 0.8;
        @include breakpoint(small) {
          opacity: 1;
        }
      }


      box-shadow: inset 0 0 0px 1000px rgba(0,0,0,0.1); // easy way to get a black overlay
      @include breakpoint(small) {
        box-shadow: none;
      }
      @include basicTransition(box-shadow);
      &:hover {
        @include basicTransition(box-shadow);
        box-shadow: inset 0 0 0px 1000px rgba(0,0,0,0); // easy way to get a black overlay
        .textArea {
          @include basicTransition(opacity);
          opacity: 1;
        }

      }
    }

    .postContent {
      padding: 1em;
    }
  }

}
