@import './../components/styles';

$darkColor: black;
.BasicWhiteBack {
  background-color: rgb(240, 240, 240);
}

.ModernGreenBack {
  background-color: $modernGreen;
}

.AboutPageImage {
  max-width: 40rem;
  .Inside {
    @include breakpoint(normal) {
      // margin: auto;

      img {
        // max-width: 30rem;
      }

      // font-size: 1rem;
    }
  }
}

.DrawingCountBackground {
  //background-color: $backgroundColorForText;
  background-image: url('../res/drawingCouv.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $modernGreen;
}

.DrawingCountPart {
   //background-color: #6d8879;
   text-align: center;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
   background-color: transparent;
 
   .BCTitle {
     font-size: 3rem;
     color: 'white';
     @include breakpoint(small) {
       font-size: 1rem;
     }
   }
   .BCSubtitle {
     font-size: 1.6rem;
     @include breakpoint(small) {
       font-size: 1.4rem;
     }
   }
 
   a {
     text-align: center;
     align-self: center;
 
     margin: 1rem;
     padding: 0.5rem;
     font-size: 1.5rem;
     $underlineColor: rgba(255, 255, 255, 0.5); //rgba(150,150,150, 0.5);
     text-decoration: none;
     // border: 4px solid transparent;
     border-bottom: 4px solid $underlineColor;
     color: white;
     @include basicTransition();
     &:hover {
       // background-color: $underlineColor;
       border-bottom: 4px solid white;
       outline: 0;
       @include basicTransition();
     }
 
     &:visited {
       text-decoration: none;
       color: white;
     }
 
     &:active,
     &:focus {
       outline: 0;
       -moz-outline-style: none;
       outline-style: none;
     }
   }
 
}
.SpecialAnnouncementBackground {
  //background-color: $backgroundColorForText;
  background-image: url('../res/drawingCouv.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $modernGreen;
}

.ModernGreenText {
  color: $modernGreen;
}

.SpecialAnnouncement {
  //background-color: #6d8879;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: hsla(147, 14%, 11%, 0.25);

  .SpecialAnnouncementTitle {
    font-size: 3rem;
    color: 'white';
    @include breakpoint(small) {
      font-size: 1rem;
    }
  }
  .SpecialAnnouncementSubtitle {
    font-size: 1.6rem;
    @include breakpoint(small) {
      font-size: 1.4rem;
    }
  }

  a {
    text-align: center;
    align-self: center;

    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    $underlineColor: rgba(255, 255, 255, 0.5); //rgba(150,150,150, 0.5);
    text-decoration: none;
    // border: 4px solid transparent;
    border-bottom: 4px solid $underlineColor;
    color: white;
    @include basicTransition();
    &:hover {
      // background-color: $underlineColor;
      border-bottom: 4px solid white;
      outline: 0;
      @include basicTransition();
    }

    &:visited {
      text-decoration: none;
      color: white;
    }

    &:active,
    &:focus {
      outline: 0;
      -moz-outline-style: none;
      outline-style: none;
    }
  }

  .SpecialAnnouncementTitle {
    color: white;
  }

  .SpecialAnnouncementSubtitle {
    color: 'red';
  }
}

.ResponsiveContainer {
  display: flex;
  justify-content: center;

  .Inside {
    @include breakpoint(normal) {
      min-width: 60rem;
      max-width: 90rem;
    }
    @include breakpoint(small) {
      min-width: 90vw;
    }
  }


}

.PhoneMockupCSS {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint(normal) {
    // min-width: 50%;
    // width: 100%;
  }

  @include breakpoint(small) {
    min-width: 90%;
  }


  font-size: 0.5rem;


  @include breakpoint(normal) {
  }

  @include breakpoint(small) {
    font-size: 0.3rem;
    // display: none;
  }

.device {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: none;
  padding: 6.3em 1.5em 8em;
  display: inline-block;
  position: relative;
  z-index:9;
  // box-shadow: 0px 0px 1.74px 0.26px rgba(0, 0, 0, 0.004),inset 0px 0px 0px 3px rgba(0, 0, 0, 0.004);
  border-top-left-radius: 20em 3em;
    border-top-right-radius: 20em 3em;
    border-bottom-left-radius: 20em 3em;
    border-bottom-right-radius: 20em 3em; 
  border:2px solid $backgroundColor;
 
  @include breakpoint(normal) {
    transform: rotate(2deg) translateY(2em);
    &-Left {
      transform: rotate(-3deg) translateY(-1em);

    }
  }

  @include breakpoint(small) {
    transform: rotate(-3deg);
    &-Left {
      display: none;
    }
  }

}

.screen {
  height: 64em;
  width: 36em;
  display:flex;
  align-items: center;
  justify-content: center;
  background: none;
  //box-shadow: inset 0 0 0px 2px $backgroundColor;
  background-color:rgba(242, 237, 233, 0.2);

  .item {
    width: 100%;
    height: 100%;
  }
}


.speaker {
  background: $backgroundColor;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 2.6em;
  opacity: 0.5;
 
}

.nav {
  background: none;
  height: 4.8em;
  width: 100%;
  display: flex;
  padding: 0em 2em;
  box-sizing: border-box;
  background-color:rgba(242, 237, 233, 0.5);
  opacity: 0.6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav div {
  border: 2px solid white;
  height: 1.6em;
  width: 1.6em;
  margin: 1.6em 4em;
}

.overview {
  border-radius: 3px;
}

.home {
  border-radius: 50%;
}

.nav .back {
  border: none;
  height: 1.7em;
  width: 2px;
  position: relative;
  background: #fff;
  transform: rotate(90deg);
  
}



.powerbutton {  
  background:$backgroundColor;
  opacity: 0.5; 
  box-shadow: 0px 0px 0.87px 0.13px rgba(0, 0, 0, 0.58),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.14);
  position: absolute;
  left: 39em;
  top: 10.1em;
  width: 0.5em;
  height: 5.1em;
  z-index: 1;
}


.volumebutton {
  background:$backgroundColor;
  opacity: 0.5; 
  position: absolute;
  left: -0.6em;
  top: 15.2em;
  width: 0.6em;
  height: 11em;
  z-index: 10;
}
}
// .PerformanceMode {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   width: 100vw;
//   z-index: 10;
//   background-color: #383838;
//   color: white;
//   overflow: auto;

//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   justify-content: space-between;

//   transition: none;
//   .Logo {
//     padding-top: 1em;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 20vh;
//     background: url('../res/tldp_white.svg');
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     margin-top: 4rem;
//   }

//   a {
//     align-self: center;
//     font-size: 1.5em;
//     text-align: center;
//     margin: 2rem;
//     padding: 1rem;
//     $underlineColor: $accentColor;
//     text-decoration: none;
//     border: none;
//     background-color: transparent;
//     border: solid 4px $accentColor;
//     color: white;
//     @include basicTransition();
//     &:hover {
//       background-color: $accentColor;
//       outline: 0;
//       @include basicTransition();
//     }

//     &:visited {
//       text-decoration: none;
//       color: inherit;
//     }

//     &:active,
//     &:focus {
//       outline: 0;
//       -moz-outline-style: none;
//     }

//     @keyframes shadow-pulse {
//       0% {
//         box-shadow: 0 0 0 0px rgba($accentColor, 1);
//       }
//       100% {
//         box-shadow: 0 0 0 35px rgba($accentColor, 0);
//       }
//     }

//     animation: shadow-pulse 1s infinite linear;
//   }

//   button {
//     align-self: center;
//     border: none;
//     background-color: transparent;

//     @include themedTagA();
//     color: rgb(220, 220, 220);
//     font-size: 1.3em;
//     margin-bottom: 1em;
//   }
// }

.ResponsiveIframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1; // useful to hide videos when overlaying all page
  iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 0;
  }
}

.ShowcasePage {
  .RollbackBackground {
    // background-color: $accentColor;
  }

  .WelcomerCoverPhoto {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .WelcomeCover {
    $height: 90vh;
    min-height: $height;
    line-height: 2;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    .Inside {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
      background: rgba(0, 0, 0, 0.2);

      @include breakpoint(normal) {
        //justify-content: center;
        justify-content: flex-start;
      }
      @include breakpoint(small) {
        justify-content: flex-start;
      }

      h2 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.3;
      }
      p {
        line-height: 1.3;
        font-size: 2.3em;
        max-width: 30em;
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: 1em;
        padding: 0.5em;
        // background-color: $accentColor;

        @include breakpoint(small) {
          font-size: 1.3em;
          margin-top: auto;
          margin-bottom: 3em;
          padding-left: 1em;
          padding-right: 1em;
        }
      }

      .CoverLogo {
        width: 20rem;
        height: 20rem;
        margin: auto;
        margin-bottom: 0;
        opacity: 0.9;

        @include breakpoint(small) {
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }

  .ShowcasePart {
    $almostBlack: #111111;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include breakpoint(normal) {
      flex-direction: row;
      padding-top: 5em;
      padding-bottom: 5em;
    }
    @include breakpoint(small) {
      flex-direction: column;
      padding: 0rem;
      padding-top: 2em;
      padding-bottom: 2em;
      align-items: center;
    }

    &.Column {
      flex-direction: column;
      align-items: center;
    }

    .Text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3em;

      @include breakpoint(small) {
        padding: 0.5em;
      }
      @include breakpoint(normal) {
        padding: 2em;
        max-width: 50em;
      }

      h2 {
        font-size: 2em;
        font-weight: 600;
        color: $modernGreenAccent;
      }

      p {
        line-height: 1.5;
      }

      &.Centered {
        text-align: center;
      }
    }

    .PhotogridContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @include breakpoint(normal) {
        max-width: 70rem;
      }

      .PaddingForNormalSize {
        @include breakpoint(normal) {
          padding: 2em;
        }
      }
    }

    .ImageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include breakpoint(normal) {
        min-width: 70%;
        width: 100%;
      }

      @include breakpoint(small) {
        min-width: 90%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .ClientsLogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 90vw;

    a {
      @include breakpoint(small) {
        min-width: 8em;
        min-height: 8em;
        margin: 1em;
      }
      @include breakpoint(normal) {
        min-width: 12em;
        min-height: 12em;
        margin: 3em;
      }
    }

    @mixin imageBackground() {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0.7;
      filter: grayscale(100%);
      @include basicTransition();
      &:hover {
        @include basicTransition();
        cursor: pointer;
        filter: none;
        opacity: 1;
      }
    }

    .Superposition {
      background: url('gallery/clients/sup.png');
      @include imageBackground();
    }

    .Lima {
      background: url('gallery/clients/lima.jpg');
      @include imageBackground();
    }

    .InstitutFrancais {
      background: url('gallery/clients/institut-francais.png');
      @include imageBackground();
    }

    .Aadn {
      background: url('gallery/clients/aadn.svg');
      @include imageBackground();
    }

    .MaltingPot {
      background: url('gallery/clients/maltingpot.jpg');
      @include imageBackground();
    }

    .Chevagny {
      background: url('./2019-08-11-chevagny/cover.jpg');
      @include imageBackground();
    }

    .Bonifacio {
      background: url('gallery/clients/bonifacio.png');
      @include imageBackground();
    }

    .Pf {
      background: url('gallery/clients/pf.png');
      @include imageBackground();
    }

    .Chrd {
      background: url('gallery/clients/CHRD.png');
      @include imageBackground();
    }

    .Embassy {
      background: url('gallery/clients/ambfi.png');
      @include imageBackground();
    }

    .Cci {
      background: url('gallery/clients/cci.png');
      @include imageBackground();
    }

    .Glow {
      background: url('gallery/clients/glow.png');
      @include imageBackground();
    }

    .Cpl {
      background: url('gallery/clients/cpl.png');
      @include imageBackground();
    }
  }
}

.Punchline {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  @include notSelectable();
  padding: 0.5em;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  @include breakpoint(small) {
    font-size: 1.8em;
    margin-left: 1em;
    margin-right: 1em;
  }

  &.ClearColor {
    font-size: 1.5em;

    @include breakpoint(small) {
      font-size: 1.2em;
    }
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 2px $backgroundColor;
    color: $backgroundColor;
    //margin: auto;
    //margin-bottom: 0.5em;

    &.Strong {
      border-bottom: solid 4px $backgroundColor;
      font-size: 2em;
      @include breakpoint(small) {
        font-size: 1.8em;
      }
      font-weight: 400;
    }
  }
  &.White {
    font-size: 1.5em;

    @include breakpoint(small) {
      font-size: 1.2em;
    }
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 2px $accentColorIdle;
    color: black;
    margin: auto;
    margin-bottom: 0.5em;

    &.Strong {
      border-bottom: solid 4px black;
      font-size: 2em;
      @include breakpoint(small) {
        font-size: 1.8em;
      }
      font-weight: 400;
    }
  }

  &.Accent {
    border-bottom: solid 4px black;
    font-size: 2em;
    @include breakpoint(small) {
      font-size: 1.8em;
    }
    font-weight: 400;
  }
}

.Subtext {
  font-size: 1em;
  color: #404040;
  text-align: center;
  &.ClearColor {
    font-size: 1.3em;
    color: $backgroundColor;
  }

  a {
    @include themedTagA();
  }
}

.WordsCloud {
  $shadowColor: $modernGreenAccent; // Darker green (more sat, less bright)
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  p {
    border-radius: 4em;
    font-size: 1.5em;
    margin: 1em;
    background-color: $backgroundColor;
    color: $modernGreen;
    font-weight: 700;
    width: 12rem;
    height: 12rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(small) {
      font-size: 1em;
      width: 8rem;
      height: 8rem;
      border-radius: 4em;
      line-height: 1rem;
      margin: 0.5em;
    }

    @include notSelectable();

    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 0px 2px $shadowColor;
    &:hover {
      color: $modernGreenAccent;
      box-shadow: 0 0 0px 6px $shadowColor;
      // transform: translateY(-5px) translateX(-5px);
      @include breakpoint(small) {
        box-shadow: 0 0 0px 6px $shadowColor;
        // transform: translateY(-2px) translateX(-2px);
      }

      transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.FlexboxBasicRow {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.FullPageContainer {
  padding: 2em;
  @include breakpoint(small) {
    padding: 0.2em;
  }
  display: flex;
  flex-direction: column;
}

.HighlightEvent {
  border: solid 10px $accentColor;
  min-height: 80vh;

  a {
  }
}

.MainTitle {
  color: white;
  font-size: 6em;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  margin: 0;
  background-color: transparent;

  &.Accent {
    //background-color: #d2ea9b;
    border: 7px solid #d2ea9b;
  }

  &.Second {
    // background-color: #abcb89;
    border: 7px solid #abcb89;
  }

  &.Third {
    // background-color: #83b271;
    border: 7px solid #83b271;
  }
}

.BackgroundWhite {
  background-color: white;
  color: black;

  .MainTitle {
    font-size: 3em;
    font-weight: 900;
  }
}

.Subtitle {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: white;
  //border: 3px solid dimgray;
  border-radius: 6px;
  padding: 0.5em;
  text-transform: uppercase;
}

.Quote {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: #404040;
  font-weight: 400;
  padding: 0.5em;
}

.ArrowDown {
  border: solid $darkColor;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.CircleNumber {
  $size: 50px;
  margin-left: 2em;
  margin-top: 2em;
  width: $size;
  height: $size;
  border: 2px solid black;
  border-radius: $size;
  font-size: calc(#{$size}/ 2);
  text-align: center;
  line-height: $size;
}

.moreProjects {
  font-size: 1.5rem;
  display: grid;
  justify-self: center;
  justify-items: center;

  a {
    text-align: center;
    margin: 1rem;
    margin-top: 4rem;
    @include themedTagA();
  }
}

.homePosts {
  margin-top: 4rem;

  button {
    align-self: center;
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    $underlineColor: $accentColor;
    text-decoration: none;
    border: none;
    background-color: transparent;
    background-color: $modernGreen;
    color: white;
    @include basicTransition();
    &:hover {
      outline: 0;
      @include basicTransition();
      cursor: pointer;
      background-color: $modernGreenAccent;
      // background-color: $accentLight;
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:active,
    &:focus {
      outline: 0;
      -moz-outline-style: none;
    }
  }

  .postGrid {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90rem;
    width: 100%;
    padding: 0;
  }

  .post {
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include breakpoint(small) {
      width: 95%;
      margin: 2%;
      margin-top: 1em;
      margin-bottom: 1em;
      &:hover {
        transform: none;
        cursor: pointer;
      }
    }

    @include breakpoint(normal) {
      margin: 1em;
      width: 40%;
      max-width: 35em;

      &:hover {
        border: none;
        transition: border 0.5s ease-out;
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
          transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
          padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    $backgroundText: black;
    $textColor: white;

    .postTitle {
      border-radius: 5px;
      font-size: 1.5em;
      color: $textColor;
      font-weight: 600;
      padding: 0.5em;
      background-color: $backgroundText;
      box-decoration-break: clone;
      margin-bottom: 0.3em;
    }

    .postSubtitle {
      border-radius: 5px;
      font-size: 1em;
      color: $textColor;
      background-color: $backgroundText;
      box-decoration-break: clone;
      padding: 0.5em;
    }

    .insideArea {
      min-height: 10em;
      padding: 2em;
      padding-left: 1em;
      margin: 0;

      display: grid;
      align-content: flex-start;
      justify-content: flex-start;

      .textArea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        @include basicTransition(opacity);
        opacity: 0.9;
        @include breakpoint(small) {
          opacity: 1;
        }
      }

      box-shadow: inset 0 0 0px 1000px rgba(0, 0, 0, 0.1); // easy way to get a black overlay
      @include breakpoint(small) {
        box-shadow: none;
      }
      @include basicTransition(box-shadow);
      &:hover {
        @include basicTransition(box-shadow);
        box-shadow: inset 0 0 0px 1000px rgba(0, 0, 0, 0); // easy way to get a black overlay
        .textArea {
          @include basicTransition(opacity);
          opacity: 1;
        }
      }
    }

    .postContent {
      padding: 1em;
    }
  }
}
