@import './../components/styles';


// .PerformanceMode {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   width: 100vw;
//   z-index: 10;
//   background-color: #383838;
//   color: white;
//   overflow: auto;

//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   justify-content: space-between;

//   transition: none;
//   .Logo {
//     padding-top: 1em;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 20vh;
//     background: url('../res/tldp_white.svg');
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     margin-top: 4rem;
//   }

//   a {
//     align-self: center;
//     font-size: 1.5em;
//     text-align: center;
//     margin: 2rem;
//     padding: 1rem;
//     $underlineColor: $accentColor;
//     text-decoration: none;
//     border: none;
//     background-color: transparent;
//     border: solid 4px $accentColor;
//     color: white;
//     @include basicTransition();
//     &:hover {
//       background-color: $accentColor;
//       outline: 0;
//       @include basicTransition();
//     }

//     &:visited {
//       text-decoration: none;
//       color: inherit;
//     }

//     &:active,
//     &:focus {
//       outline: 0;
//       -moz-outline-style: none;
//     }

//     @keyframes shadow-pulse {
//       0% {
//         box-shadow: 0 0 0 0px rgba($accentColor, 1);
//       }
//       100% {
//         box-shadow: 0 0 0 35px rgba($accentColor, 0);
//       }
//     }

//     animation: shadow-pulse 1s infinite linear;
//   }

//   button {
//     align-self: center;
//     border: none;
//     background-color: transparent;

//     @include themedTagA();
//     color: rgb(220, 220, 220);
//     font-size: 1.3em;
//     margin-bottom: 1em;
//   }
// }




.Punchline {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  @include notSelectable();
  padding: 0.5em;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  @include breakpoint(small) {
    font-size: 1.8em;
    margin-left: 1em;
    margin-right: 1em;
  }

  &.ClearColor {
    font-size: 1.5em;

    @include breakpoint(small) {
      font-size: 1.2em;
    }
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 2px $backgroundColor;
    color: $backgroundColor;
    //margin: auto;
    //margin-bottom: 0.5em;

    &.Strong {
      border-bottom: solid 4px $backgroundColor;
      font-size: 2em;
      @include breakpoint(small) {
        font-size: 1.8em;
      }
      font-weight: 400;
    }
  }
  &.White {
    font-size: 1.5em;

    @include breakpoint(small) {
      font-size: 1.2em;
    }
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 2px $accentColorIdle;
    color: black;
    margin: auto;
    margin-bottom: 0.5em;

    &.Strong {
      border-bottom: solid 4px black;
      font-size: 2em;
      @include breakpoint(small) {
        font-size: 1.8em;
      }
      font-weight: 400;
    }
  }

  &.Accent {
    border-bottom: solid 4px black;
    font-size: 2em;
    @include breakpoint(small) {
      font-size: 1.8em;
    }
    font-weight: 400;
  }
}

.Subtext {
  font-size: 1em;
  color: #404040;
  text-align: center;
  &.ClearColor {
    font-size: 1.3em;
    color: $backgroundColor;
  }

  a {
    @include themedTagA();
  }
}




.MainTitle {
  color: white;
  font-size: 6em;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  margin: 0;
  background-color: transparent;

  &.Accent {
    //background-color: #d2ea9b;
    border: 7px solid #d2ea9b;
  }

  &.Second {
    // background-color: #abcb89;
    border: 7px solid #abcb89;
  }

  &.Third {
    // background-color: #83b271;
    border: 7px solid #83b271;
  }
}



.Subtitle {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: white;
  //border: 3px solid dimgray;
  border-radius: 6px;
  padding: 0.5em;
  text-transform: uppercase;
}

.Quote {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: #404040;
  font-weight: 400;
  padding: 0.5em;
}

.ArrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.CircleNumber {
  $size: 50px;
  margin-left: 2em;
  margin-top: 2em;
  width: $size;
  height: $size;
  border: 2px solid black;
  border-radius: $size;
  font-size: calc(#{$size}/ 2);
  text-align: center;
  line-height: $size;
}

.moreProjects {
  font-size: 1.5rem;
  display: grid;
  justify-self: center;
  justify-items: center;

  a {
    text-align: center;
    margin: 1rem;
    // margin-top: 4rem;
    @include themedTagA();
  }
}

.homePosts {
  margin-top: 4rem;
}


