@import './../components/styles';


$darkColor: black;
.CenteredLogo {
  display: flex;
  justify-content: center;
  background: url("../res/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 50vh;
  @include breakpoint(small) {
    height: 15em;
  }
}

.ResponsiveIframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 0;
  }
}

.FullPage {
  //border: 10px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Punchline {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  @include notSelectable();
  padding: 0.5em;
  margin:auto;
  margin-bottom: 1em;
  margin-top: 1em;

  @include breakpoint(small) {
    font-size: 1.8em;
  }

  &.White {
    font-size: 2em;

    @include breakpoint(small) {
      font-size: 1.8em;
    }
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 2px black;
    color: black;
    margin:auto;
    margin-bottom: 0.5em;
  }

  &.Accent {
    background-color: #abcb89;
    color: white;

  }
}

.Subtext {
  font-size: 1em;
  color: #404040;
  text-align: center;
}

.WordsCloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  p {
    font-size: 2em;
    margin: 1em;
    background-color: white;
    color: dimgray;
    font-weight: 900;
    padding: 0.5em;
    @include breakpoint(small) {
      font-size: 1.2em;
      margin: 0.5em;
    }

    @include notSelectable();

    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: black;
      box-shadow: 10px 10px rgba(0,0,0,0.5);
      transform: translateY(-5px) translateX(-5px);
      @include breakpoint(small) {
        box-shadow: 4px 4px rgba(0,0,0,0.5);
        transform: translateY(-2px) translateX(-2px);
      }



      transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
  }
}

.FlexboxBasicRow {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


.FullPageContainer {
  padding: 2em;
  @include breakpoint(small) {
    padding: 0.2em;
  }
  display: flex;
  flex-direction: column;
}


.Squares {
  display:flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;

  .Square {

    width: 20em;
    text-align: center;
    padding: 4em;

    @include breakpoint(small) {
      width: 90%;
      padding: 0.5em;
    }


    .Icon {
      $size: 2em;
      margin: auto;
      padding: 2em;
      width: $size;
      height: $size;
      border: 2px solid #404040;
      border-radius: 200px;
      font-size: calc(#{$size}/2);
      text-align: center;
      line-height: $size;
      margin-bottom: 1em;
      margin-top: 1em;

      .Phone {
        background: url("../res/baseline-touch_app-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .Replay {
        background: url("../res/baseline-replay-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .Send {
        background: url("../res/baseline-send-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .Drawings {
        background: url("../res/baseline-blur_on-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }


    .Title {
      font-size: 1.5em;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0.5em;
    }

    .SubText {
      font-size: 1em;
      color: #404040;
      margin: 0.3em;
    }

  }

}


.MainTitle {
  color: white;
  font-size: 6em;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  margin: 0;
  background-color: transparent;

  &.Accent {
    //background-color: #d2ea9b;
    border: 7px solid #d2ea9b;
  }

  &.Second {
   // background-color: #abcb89;
    border: 7px solid #abcb89;
  }

  &.Third {
   // background-color: #83b271;
    border: 7px solid #83b271;
  }

}

.BackgroundWhite {
  background-color: white;
  color: black;

  .MainTitle {
    font-size: 3em;
    font-weight: 900;
  }
}

.Subtitle {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: #404040;
  //border: 3px solid dimgray;
  border-radius: 6px;
  padding: 0.5em;
  text-transform: uppercase;

}

.Quote {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  color: #404040;
  font-weight: 400;
  padding: 0.5em;
}

.ArrowDown {
  border: solid $darkColor;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.CircleNumber {
  $size: 50px;
  margin-left: 2em;
  margin-top: 2em;
  width: $size;
  height: $size;
  border: 2px solid black;
  border-radius: $size;
  font-size: calc(#{$size}/2);
  text-align: center;
  line-height: $size;
}

.moreProjects {
  font-size: 1.5rem;
  display: grid;
  justify-self: center;
  justify-items: center;


  a {
    text-align: center;
    margin: 1rem;
    margin-top: 4rem;
    @include themedTagA();
  }
}

.homePosts {

  margin-top: 4rem;
  .postGrid {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90rem;
    width: 100%;
    padding: 0;

  }



  .spotlight {

    margin-top: 2em;
    text-align: center;

    .title {
      font-size: 2em;
      padding-bottom: 0.2em;
      padding-top: 0.2em;
    }

    .description {
      font-size: 1em;
      margin: 1em;
    }

  }

  .post {
    @include breakpoint(small) {
      margin: 0;
      width: 100%;
      border-bottom: solid 4px black;

      &:first-child {
        box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
      }

      &:last-child {
       border: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      }
      &:hover {
        transform: none;
        cursor: pointer;
        &:last-child {
          border: none;
        }
      }

    }
    @include breakpoint(normal) {
      margin: 1em;
      width: 40%;
      max-width: 35em;

      background-color: rgb(252, 252, 252);
      box-shadow: 0 2px 7px rgba(0,0,0,0.3);
      transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border: none;
        transition: border 0.5s ease-out;
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }


  }

  $backgroundText: rgba(0, 0, 0, 1);

  .postTitle {
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    padding: 0.5em;
    background-color: $backgroundText;
    box-decoration-break: clone;
    margin-bottom: 0.3em;
  }

  .postDate {
    font-size: 0.6em;
    color: white;
    background-color: $backgroundText;
    box-decoration-break: clone;
    padding: 1em;
  }

  .postTag {
    font-size: 0.8em;
    color: white;
    font-weight: 600;
    background-color: $backgroundText;
    box-decoration-break: clone;
    padding: 0.5em;
  }

  .postHeader {

    @include breakpoint(normal) {
      min-height: 15em;
    }
    @include breakpoint(small) {
      min-height: 10em;
    }

    padding: 2em;
    margin: 0;
    background-color: #cbcbcb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: grid;
    align-content: start;
    justify-content: start;

    .inside {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: center;

      opacity: 1;
      @include basicTransition();
      @include breakpoint(small) {
        opacity: 1;
      }
    }

    &:hover {
      .inside {
        @include basicTransition();
        opacity: 1;
      }

      @include breakpoint(small) {
        box-shadow: inset 0 0 0px 10000px rgba(0,0,0,0.3); // easy way to get a black overlay
        transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .postContent {
    padding: 1em;
  }
}
