@import './../components/styles';

.PhoneMockupCSS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(normal) {
      // min-width: 50%;
      // width: 100%;
    }
  
    @include breakpoint(small) {
      min-width: 90%;
    }
  
    font-size: 0.5rem;
  
    @include breakpoint(normal) {
    }
  
    @include breakpoint(small) {
      font-size: 0.3rem;
      // display: none;
    }
  
    .device {
      margin-top: 2rem;
      margin-bottom: 2rem;
      background: none;
      padding: 6.3em 1.5em 8em;
      display: inline-block;
      position: relative;
      z-index: 9;
      // box-shadow: 0px 0px 1.74px 0.26px rgba(0, 0, 0, 0.004),inset 0px 0px 0px 3px rgba(0, 0, 0, 0.004);
      border-top-left-radius: 20em 3em;
      border-top-right-radius: 20em 3em;
      border-bottom-left-radius: 20em 3em;
      border-bottom-right-radius: 20em 3em;
      border: 2px solid $backgroundColor;
  
      @include breakpoint(normal) {
        transform: rotate(2deg) translateY(2em);
        &-Left {
          transform: rotate(-3deg) translateY(-1em);
        }
      }
  
      @include breakpoint(small) {
        transform: rotate(-3deg);
        &-Left {
          display: none;
        }
      }
    }
  
    .screen {
      height: 64em;
      width: 36em;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      //box-shadow: inset 0 0 0px 2px $backgroundColor;
      background-color: rgba(242, 237, 233, 0.2);
  
      .item {
        width: 100%;
        height: 100%;
      }
    }
  
    .speaker {
      background: $backgroundColor;
      height: 1.6em;
      width: 1.6em;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 2.6em;
      opacity: 0.5;
    }
  
    .nav {
      background: none;
      height: 4.8em;
      width: 100%;
      display: flex;
      padding: 0em 2em;
      box-sizing: border-box;
      background-color: rgba(242, 237, 233, 0.5);
      opacity: 0.6;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .nav div {
      border: 2px solid white;
      height: 1.6em;
      width: 1.6em;
      margin: 1.6em 4em;
    }
  
    .overview {
      border-radius: 3px;
    }
  
    .home {
      border-radius: 50%;
    }
  
    .nav .back {
      border: none;
      height: 1.7em;
      width: 2px;
      position: relative;
      background: #fff;
      transform: rotate(90deg);
    }
  
    .powerbutton {
      background: $backgroundColor;
      opacity: 0.5;
      box-shadow: 0px 0px 0.87px 0.13px rgba(0, 0, 0, 0.58),
        inset 0px 1px 0px 0px rgba(255, 255, 255, 0.14);
      position: absolute;
      left: 39em;
      top: 10.1em;
      width: 0.5em;
      height: 5.1em;
      z-index: 1;
    }
  
    .volumebutton {
      background: $backgroundColor;
      opacity: 0.5;
      position: absolute;
      left: -0.6em;
      top: 15.2em;
      width: 0.6em;
      height: 11em;
      z-index: 10;
    }
  }