@import './../components/styles';

.SpecialAnnouncement {
  //background-color: #6d8879;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: hsla(147, 14%, 11%, 0.25);

  .SpecialAnnouncementTitle {
    font-size: 3rem;
    color: 'white';
    @include breakpoint(small) {
      font-size: 1rem;
    }
  }
  .SpecialAnnouncementSubtitle {
    font-size: 1.6rem;
    @include breakpoint(small) {
      font-size: 1.4rem;
    }
  }

  a {
    text-align: center;
    align-self: center;

    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    $underlineColor: rgba(255, 255, 255, 0.5); //rgba(150,150,150, 0.5);
    text-decoration: none;
    // border: 4px solid transparent;
    border-bottom: 4px solid $underlineColor;
    color: white;
    @include basicTransition();
    &:hover {
      // background-color: $underlineColor;
      border-bottom: 4px solid white;
      outline: 0;
      @include basicTransition();
    }

    &:visited {
      text-decoration: none;
      color: white;
    }

    &:active,
    &:focus {
      outline: 0;
      -moz-outline-style: none;
      outline-style: none;
    }
  }

  .SpecialAnnouncementTitle {
    color: white;
  }

  .SpecialAnnouncementSubtitle {
    color: 'red';
  }
}

.SpecialAnnouncementBackground {
  //background-color: $backgroundColorForText;
  background-image: url('../res/drawingCouv.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $modernGreen;
}
