// Theme
$blackLink: #4c4c4c;
$backgroundColorForText: #fafafa;
$backgroundColor: rgb(240, 240, 240);


$accentColor: #85b94f; //#aac989; //#4d9933;
$accentLight: #aac989;
$accentColorIdle: #2b6b15;
$colorActive: $accentColor; //#ed9e38; // 50 50 50
$colorIdle: #919191;

$colorUnselected: rgb(200,200,200);
$colorHover: $accentColor;
$navbarColor: $backgroundColor;
