@import 'styles';


.Navbar {

  $linkColorIdle: dimgray;
  $linkColorActive: $accentColor;
  $navbarColor: $backgroundColor;

  padding-top: 1.5em;
  padding-bottom: 1.5em;

  .Links {

    border-bottom: 2px solid transparent;

    @include breakpoint(small) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
    }

    @include breakpoint(normal) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .active {
      color: $linkColorActive;
      border-bottom-color: $linkColorActive;
    }

    a {
      font-weight: 400;
      padding: 0.8em;
      margin: 0;
      margin-right: 2em;
      margin-left: 2em;
      color: $linkColorIdle;
      font-size: 1.2em;
      border: solid 2px transparent;
      text-decoration: none;

      &:hover {
        color: $linkColorActive;
        border-bottom-color: $linkColorActive;
        cursor: pointer;
        text-decoration: none;
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
      }

      &:active, &:focus {
        outline: 0;
        -moz-outline-style: none;
      }

      @include breakpoint(normal) {
        text-align: right;
      }
      @include breakpoint(small) {
        text-align: center;
      }
    }

  }
}
