@import 'common';

.Navbar {
  background-color: $navbarColor;
  text-align: center;
  .header-subtitle {

    padding: 1em;
    @include breakpoint(small) {
      padding: 0.5em;
    }
    font-size: 1.1em;
    font-weight: 600;
    color: gray;
    margin-bottom: 2em;
    padding-top: 1em;
  }

  .header-title {

    padding: 2em;
    @include breakpoint(small) {
      padding: 1em;
    }

    a {
      @include breakpoint(small) {
        font-size: 2em;
        margin-top: 2em;
      }
      margin-bottom: 2em;
      transition: all 0.2s ease;
      color: dimgray;
      font-size: 2.5em;
      font-weight: 600;

      &:hover {
        transition: all 0.4s ease;
        text-decoration: none;
      }
    }

  }

  .headerLinks {



    @include breakpoint(small) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    @include breakpoint(normal) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .active {
      color: $colorActive;
      /*background-color: #4e4e4e;*/
      font-weight: 900;
    }

    a {
      padding: 0.8em;
      margin: 0;
      margin-right: 2em;
      margin-left: 2em;
      color: $colorIdle;
      font-size: 1.2em;
      border: solid 2px transparent;
      text-decoration: none;

      &:hover {
        color: $colorActive;
        cursor: pointer;
        text-decoration: none;
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
      }

      &:active, &:focus {
        outline: 0;
        -moz-outline-style: none;
      }

      @include breakpoint(normal) {
        text-align: right;
      }
      @include breakpoint(small) {
        text-align: center;
      }
    }

    .siteTitle {
      color: $accentColorIdle;
      &:hover {
        color: $accentColorIdle;
      }
    }
  }
}
