
// Theme
$blackLink: #4c4c4c;
$backgroundColorForText: #fafafa;
$backgroundColor: rgb(240, 240, 240);


$accentColor: #85b94f; //#aac989; //#4d9933;
$accentLight: #aac989;
$accentColorIdle: #2b6b15;
$colorActive: $accentColor; //#ed9e38; // 50 50 50
$colorIdle: #919191;

$colorUnselected: rgb(200,200,200);
$colorHover: $accentColor;
$navbarColor: $backgroundColor;

@mixin notSelectable() {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@mixin breakpoint($class) {
  @if $class == small {
    @media (max-width: 61em) {
      @content;
    }
  } @else if $class == normal {
    @media (min-width: 61em) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: small, normal";
  }
}



@mixin basicTransition($type: all) {
  transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





@mixin themedTagA() {
  $underlineColor: rgba($accentColor, 0.5); //rgba(150,150,150, 0.5);
  text-decoration: none;
  border-bottom: 4px solid $underlineColor;
  color: black;
  @include basicTransition();
  &:hover {
    background-color: $underlineColor;
    border-bottom: 4px solid transparent;
    outline: 0;
    @include basicTransition();
  }

  &:visited {
    text-decoration: none;
    color: inherit;
  }

  &:active, &:focus {
    outline: 0;
    -moz-outline-style: none;
  }
}



html {
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 100%;
}

body {
  margin: 0;
  outline: 0;
  padding: 0;
  background-color: $backgroundColor;
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
