@import '../components/common';

.CssGrid {

  &NavContentFooter {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "nav nav" "content content" "content content" "footer footer";
    justify-items: stretch;

    .gridNavBar {
      justify-self: stretch;
      grid-area: nav;
      text-align: right;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .gridContent {
      grid-area: content;

    }

    .gridFooter {
      grid-area: footer;
      display: flex;
      flex-order: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

.styleContent {
  background-color: transparent;
  border-top: 0;
  padding-bottom: 4em;
  @include breakpoint(small) {
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 1em;
    border: none;
  }
}
