@import '../components/styles';

.DarkModeTextAccent {
  color: $modernGreenDarkMode;
}
.CssGrid {
  &NavContentFooter {
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
      'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0;
    grid-template-areas: 'nav nav' 'content content' 'content content' 'footer footer' 'navBottom navBottom';

    justify-items: stretch;

    .AppBar {
      justify-self: stretch;
      grid-area: nav;
      text-align: center;
      z-index: 10;
      background-color: $backgroundColor;
      @include breakpoint(normal) {
        display: none;
        z-index: 0;
      }
    }

    .gridNavBar {
      justify-self: stretch;
      grid-area: nav;
      text-align: right;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: $backgroundColor;

      // bottom nav menu
      @include breakpoint(small) {
        grid-area: navBottom;
        padding: 0;
        //position: sticky; TODO: use this and remove width when firefox mobile doesnt jump on scroll anymore (May 2020)
        // position: fixed;
        // width: 100vw;
        bottom: 0;
        z-index: 1;
      }
    }

    .gridContent {
      grid-area: content;
      z-index: 0;
    }

    .gridFooter {
      grid-area: footer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      z-index: 0;
    }

    .gridBottomBar {
      grid-area: bottom;
      justify-self: stretch;
      text-align: right;
      background-color: $modernGreenDarkMode;
      color: white;
      // STUFF for responsive navbar using an overlay

      // Z-index tweak allows gridNavBar to be TRULY overlaying every other element if it wants to, even if they are in position absolute/relative
      position: fixed;
      left: 0;
      width: 100%;
      @include breakpoint(normal) {
        bottom: 0;
      }
      @include breakpoint(small) {
        top: 0;
      }
      z-index: 10;
    }
  }
}

.styleContent {
  background-color: transparent;
  border-top: 0;
  padding-bottom: 4em;
  @include breakpoint(small) {
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    border: none;
  }
}

.PerformanceMode {
  position: fixed;
  top: 0;
  left: 0;
  height: 110vh; // Cover most of mobile nvbars
  min-height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: #383838;
  color: white;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

  transition: none;
  .LogoContainer {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
  }

  a {
    align-self: center;
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    $underlineColor: $modernGreenDarkMode;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border: solid 4px $modernGreenDarkMode;
    color: white;
    @include basicTransition();
    &:hover {
      background-color: $modernGreenDarkMode;
      outline: 0;
      @include basicTransition();
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:active,
    &:focus {
      outline: 0;
      -moz-outline-style: none;
    }

    @keyframes shadow-pulse {
      0% {
        box-shadow: 0 0 0 0px rgba($modernGreenDarkMode, 1);
      }
      100% {
        box-shadow: 0 0 0 35px rgba($modernGreenDarkMode, 0);
      }
    }

    animation: shadow-pulse 1s infinite linear;
  }

  button {
    align-self: center;
    border: none;
    background-color: transparent;

    @include themedTagA();
    color: rgb(220, 220, 220);
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}
